# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

__pycache__/
*.h5
*.hdf5
*.csv
*.zip
*.tar.gz
*.pkl
*.npy
*.npz
*.log
.DS_Store
.ipynb_checkpoints/
venv/
env/
.idea/
*.sqlite3
